@import '../../styles/colors.scss';

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    > svg {
      font-size: 15rem;
      color: $red;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-40%, -40%);
      opacity: 0.3;
    }
  
    > div {
      font-size: 2rem;
    }
  }